
/*Estetica Sito */

@media only screen and (max-width: 600px) {

body  {



color: rgb(255, 255, 255);

  margin: 0;
  padding: 0;
 /* background: url(Bck_Test.jpg);*/
  background-size: cover;         /* Adatta l'immagine per coprire tutto lo schermo */
  background-position: center;    /* Centra l'immagine */
  background-repeat: no-repeat;   /* Evita ripetizioni */
  height: 100vh;                  /* Assicura che il body abbia altezza piena */
  
image-rendering: optimizeQuality;



  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: light;


font-size: 18px;

font-weight: 200;



}





span {

   

display: block;


}

header {

  

b {

   
    position: absolute;

    left: 98%;

    color:  orangered;

}

    .NomeLogo {

    position: absolute;
left: 5%;


font-size: 120px;



z-index: 1;

}






}



nav {

    a{

text-decoration: none;

color: white;

    }

    a:hover {

        font-weight: bold;
 transition: font-weight 0.2s ease;

color: orangered;
    }

    .Portfolio {

position: absolute;

left: 88%;
top: 2%;

z-index: 1;

    }

.CV {

  position: absolute;

left: 96.6%;
top: 2%;

z-index: 1;


}

.ArtStation_ {

   position: absolute;

left: 80.4%;
top: 2%;

z-index: 1;

    }

    .IG{

           position: absolute;

left: 72.4%;
top: 2%;

z-index: 1;

        
    }

    .Lk{
  position: absolute;

        left: 65.9%;
top: 2%;

z-index: 1;



    }


    font-size: 20px;

    .Ab{
  position: absolute;

        left: 58.7%;
top: 2%;

z-index: 1;



    }


    font-size: 20px;

}


.imgone {
    
 position: absolute;

    top: 34.3%;
    left: 4.5%;

    height:190px;

width: 350px;

}





article {

     

    position: absolute;
     top: 84.8%;

     left: 45%;


font-size: 30px;

font-weight: 200;

text-shadow: 3px 6px 12px black;

color: orangered;

}


.custom-button {
  background-color: orangered;
  color: white;
  font-style: light;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
transition: background-color 0.3s ease;

position: absolute;

 top: 53%;
 left: 13.5%;
}

.custom-button:hover {
  background-color:  rgb(255, 130, 85);
}

.custom-button2 {
  background-color: white;
  color: orangered;
  font-weight: 300;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
transition: background-color 0.3s ease;

position: absolute;

 top: 53%;
 left: 21.3%;
}

.custom-button2:hover {
  background-color:  rgb(255, 130, 85);
}


.Contact{
position: absolute;
top: 59%;
left: 15%;
 font-size: 22px;
 font-weight: 300;
 font-display: center;

 
}






figure{


    position:absolute;

    top: 88.5%;
left: 4.3%;

    font-size: 20px;

    font-display: block;


}

footer {
 
    

 position: absolute;

 top: 97.7%;

 font-size: 12px;

 opacity: 50%;
}
