
/*Estetica Sito */



body  {



color: rgb(255, 255, 255);

  margin: 0;
  padding: 0;
 /* background: url(Bck_Test.jpg);*/
  background-size: cover;         /* Adatta l'immagine per coprire tutto lo schermo */
  background-position: center;    /* Centra l'immagine */
  background-repeat: no-repeat;   /* Evita ripetizioni */
  height: 100vh;                  /* Assicura che il body abbia altezza piena */
  
image-rendering: optimizeQuality;



  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: light;


font-size: 18px;

font-weight: 200;



}





span {

   

display: block;


}

header {

  

b {

   
    position: absolute;

    left: 324px;

    color:  orangered;

}

    .NomeLogo {

    position: absolute;
left: 50px;


font-size: 120px;



z-index: 1;

}

 .ClassImgTitle {

position: absolute;
 right: 1920;
 top: 25px;
}




}



nav {

    a{

text-decoration: none;

color: white;

    }

    a:hover {

        font-weight: bold;
 transition: font-weight 0.2s ease;

color: orangered;
    }

    .Portfolio {

position: absolute;

left: 1353px;
top: 15px;

z-index: 1;

    }

.CV {

  position: absolute;

left: 1485px;
top: 15px;

z-index: 1;


}

.ArtStation_ {

   position: absolute;

left: 1237px;
top: 15px;

z-index: 1;

    }

    .IG{

           position: absolute;

left: 1113px;
top: 15px;

z-index: 1;

        
    }

    .Lk{
  position: absolute;

        left: 1012px;
top: 15px;

z-index: 1;



    }


    font-size: 20px;

    .Ab{
  position: absolute;

        left: 900px;
top: 15px;

z-index: 1;



    }


    font-size: 20px;

}


.imgone {
    
 position: absolute;

    top: 260px;
    left: 41px;

    height:190px;

width: 350px;

}





article {

     

    position: absolute;
     top: 615px;

     left: 45%;


font-size: 30px;

font-weight: 200;

text-shadow: 3px 6px 12px black;

color: orangered;

}


.custom-button {
  background-color: orangered;
  color: white;
  font-style: light;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
transition: background-color 0.3s ease;

position: absolute;

 top: 400px;
 left: 177px;
}

.custom-button:hover {
  background-color:  rgb(255, 130, 85);
}

.custom-button2 {
  background-color: white;
  color: orangered;
  font-weight: 300;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
transition: background-color 0.3s ease;

position: absolute;

 top: 400px;
 left: 297px;
}

.custom-button2:hover {
  background-color:  rgb(255, 130, 85);
}


.Contact{
position: absolute;
top: 449px;
left: 225px;
 font-size: 22px;
 font-weight: 300;
 font-display: center;

 
}






figure{


    position:absolute;

    top: 650px;
left: 60px;

    font-size: 20px;

    font-display: block;


}

footer {
 
    

 position: absolute;

 top: 720px;

 font-size: 12px;

 opacity: 50%;
}